@import url("/css/bootstrap.min.css");

.rounded-full{
    border-radius: 30pt !important;
}

.btn-main{
    background-color: darkviolet !important;
    border-radius: 1rem !important;
    color: #fff !important;
}

.btn{
    border-radius: 1rem !important;
}

.form-control{
    border-color: rgba(148, 0, 211, 0.356) !important;
    border-radius: 1rem !important;
}
.form-control:focus{
    box-shadow:0 0 0 .2rem rgba(255, 101, 132, 0.405) !important;
    
}